/*top-section*/
.top-header {
    border: 1px solid #ddd;
    padding: 5px 5px;
}
.top-title h3{
	font-size: 28px;
	margin-left: 15px;
	margin-bottom: 0;
}
.top-title h3 a{
	background: #188ac8;
    padding: .5rem 1rem;
    font-size: 20px;
    color: #fff;
}
.top-title h3 a:hover{
	text-decoration: none;
}
.top-title h3 a i{
	background: #fff;
    color: #188ac8;
    border-radius: 50%;
    padding: 2px 4px;
    font-size: 17px;
    margin-right: 5px;
}
.top-link .breadcrumb{
	margin-bottom: 0;
	padding: .5rem .5rem;
	border-radius: 0;
}
.form-border {
    border: 1px solid #ddd;
    padding: 20px;
}
.navbar-dar.bg-dark{
	background-color: black!important;

.grid-section input[type="text"] {
    width: 100%;
}
.footer-section p{
	margin-bottom: 0;
	color: #fff;
	padding: 20px
}